{% extends 'base.html' %}{% block content %}
<!DOCTYPE html>
<html>

<body>

    <button type="button"><a href="/pitch"> Add Pitch</a></button>
    <div class="card-columns">

        {% for pitch in pitches%}
        <div class="container">
            <h4></h4>
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">{{pitch.title}}</h4>
                    <p class="card-text">{{pitch.content}}</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>

{% endfor%}
{% endblock%}